* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #ffffff;
  background: #000000;
}
img {
  width: 100%;
}
.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: medium;
}

.vh-center {
  display: flex;
  margin: auto auto;
  width: 60%;
}
.vh-leftcenter {
  display: flex;
  margin: auto auto;
  width: 70%;
}
.vh-center div {
  flex: 1;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.one {
  background: #000000;
}
.two {
  background: #000000;
}
.three {
  background: #000000;
}
.four {
  background: #000000;
}
.five {
  background: #000000;
}
.center {
  text-align: center;
}

